* {
  border: 1px solid red;
}

body {
  font-family: Arial;
  background-color: #f7f7f7;
  height: 100%;
  display: grid;
  grid-template-columns: 0.5vw 0.5vw;
}

h1 {
  text-align: center;
  padding: 40px;
  size: 80px;
}

div {
  display: flex;
  place-content: center;
  font-family: arial;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  place-content: center;
  margin-bottom: 100px;
  gap: 20px;
  font-style: normal;
  text-decoration: none;
}

h2 {
  border: 1px solid #d7d7d7;
  background-color: #ffffff;
  padding: 20px;
  margin: 0px;
  color: #000000;
}

.grid {
  margin-top: 50px;
  display: grid;
  width: 650px;
  grid-template-columns: 1fr 1fr;
}

img {
  max-width: 100%;
}
